.alertt{
    height: 20px !important;
}

svg{
    width: 25px;
    height: 25px;
}

.input-box{
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.contacts__item {
    width: 100%;
    max-width: 335px;
    padding: 20px;
    background-color: #f4f4f4;
}

@media only screen and (max-width: 340px) {
    .contacts__item {
        max-width: 310px;
    }
}

.call {
    display: block;
    cursor: pointer;
    text-align: right;
    margin-right: 40px;
}

.call-btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url("./call.jpg");
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: 90px 90px;
    background-position: center center;
    background-color: transparent;
    border-radius: 50%;
}
